{
  "name": "srtp_in_channel_settlement_rate_daily",
  "properties": {
    "activities": [
      {
        "name": "Delete previous day data",
        "type": "AzureDataExplorerCommand",
        "typeProperties": {
          "command": ".delete table in_channel_settlement_rate records <| in_channel_settlement_rate | where window_start >= (startofday(now() + 2h, -1) - 2h) and window_start < ((startofday(now() + 2h, -1) - 2h) + 1d)",
          "commandTimeout": "00:10:00"
        },
        "linkedServiceName": {
          "referenceName": "${domain}-Kusto-${domain}-ls",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Ingest in channel settlement rate daily",
        "type": "AzureDataExplorerCommand",
        "dependsOn": [
          {
            "activity": "Delete previous day data",
            "dependencyConditions": [ "Succeeded" ]
          }
        ],
        "typeProperties": {
          "command": ${jsonencode(join(" ", [".set-or-append in_channel_settlement_rate <|", replace(replace(replace(queries["in_channel_settlement_rate_daily"], "\n", " "), "__LAW_ID__", law_id), "__LAW_NAME__", law_name)]))},
          "commandTimeout": "00:10:00"
        },
        "linkedServiceName": {
          "referenceName": "${domain}-Kusto-${domain}-ls",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}
