{
  "name": "srtp_activation_success_rate_daily",
  "properties": {
    "parameters": {
      "target_date": {
        "type": "String",
        "defaultValue": "@formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd')"
      }
    },
    "activities": [
      {
        "name": "Delete previous day data",
        "type": "AzureDataExplorerCommand",
        "policy": {
          "retry": 3,
          "retryIntervalInSeconds": 300
        },
        "typeProperties": {
          "command": ".delete table activation_success_rate records <| activation_success_rate | where activation_day == todatetime('@{pipeline().parameters.target_date}')",
          "commandTimeout": "00:10:00"
        },
        "linkedServiceName": {
          "referenceName": "${domain}-Kusto-${domain}-ls",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Ingest activation success rate daily",
        "type": "AzureDataExplorerCommand",
        "policy": {
          "retry": 3,
          "retryIntervalInSeconds": 300
        },
        "dependsOn": [
          {
            "activity": "Delete previous day data",
            "dependencyConditions": [ "Succeeded" ]
          }
        ],
        "typeProperties": {
          "command": ${jsonencode(join(" ", [".set-or-append activation_success_rate <|", replace(replace(replace(queries["activation_success_rate_daily"], "\n", " "), "__LAW_ID__", law_id), "__LAW_NAME__", law_name)]))},
          "commandTimeout": "00:10:00"
        },
        "linkedServiceName": {
          "referenceName": "${domain}-Kusto-${domain}-ls",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}
