.create-merge table in_channel_settlement_rate (
    window_start: datetime,
    debtor_service_provider: string,
    successful_sends: long,
    paid_in_channel: long
)

.create-merge table active_payer_reachability (
    window_start: datetime,
    category: string,
    count: long,
    total_failures: long,
    total_successes: long
)

.create-merge table activation_success_rate (
    activation_day: datetime,
    psp: string,
    successful_activations: long
)

.create-or-alter table in_channel_settlement_rate ingestion json mapping 'in_channel_settlement_rateMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"debtor_service_provider","path":"$.debtor_service_provider","datatype":"string"},'
'{"column":"successful_sends","path":"$.successful_sends","datatype":"long"},'
'{"column":"paid_in_channel","path":"$.paid_in_channel","datatype":"long"}'
']'

.create-or-alter table active_payer_reachability ingestion json mapping 'active_payer_reachabilityMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"category","path":"$.category","datatype":"string"},'
'{"column":"count","path":"$.count","datatype":"long"},'
'{"column":"total_failures","path":"$.total_failures","datatype":"long"},'
'{"column":"total_successes","path":"$.total_successes","datatype":"long"}'
']'

.create-or-alter table activation_success_rate ingestion json mapping 'ActivationSuccessRateMapping'
'['
'{"column":"activation_day","path":"$.activation_day","datatype":"datetime"},'
'{"column":"psp","path":"$.psp","datatype":"string"},'
'{"column":"successful_activations","path":"$.successful_activations","datatype":"long"}'
']'

.alter table in_channel_settlement_rate policy streamingingestion enable

.alter table active_payer_reachability policy streamingingestion enable

.alter table activation_success_rate policy streamingingestion enable

.alter table in_channel_settlement_rate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table active_payer_reachability policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table activation_success_rate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table in_channel_settlement_rate policy caching hot = ${hot_cache_period}

.alter table active_payer_reachability policy caching hot = ${hot_cache_period}

.alter table activation_success_rate policy caching hot = ${hot_cache_period}

.create-merge table user_refusal_rate (
    window_start: datetime,
    refusal_type: string,
    debtor_service_provider: string,
    refusals: long,
    total_sent: long,
    refusal_rate_percentage: real
)

.create-or-alter table user_refusal_rate ingestion json mapping 'UserRefusalRateMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"refusal_type","path":"$.refusal_type","datatype":"string"},'
'{"column":"debtor_service_provider","path":"$.debtor_service_provider","datatype":"string"},'
'{"column":"refusals","path":"$.refusals","datatype":"long"},'
'{"column":"total_sent","path":"$.total_sent","datatype":"long"},'
'{"column":"refusal_rate_percentage","path":"$.refusal_rate_percentage","datatype":"real"}'
']'

.alter table user_refusal_rate policy streamingingestion enable

.alter table user_refusal_rate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table user_refusal_rate policy caching hot = ${hot_cache_period}

.create-merge table taxonomy_eligibility_rate (
    window_start: datetime,
    operation: string,
    total_valid_notices: long
)

.create-or-alter table taxonomy_eligibility_rate ingestion json mapping 'TaxonomyEligibilityRateMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"operation","path":"$.operation","datatype":"string"},'
'{"column":"total_valid_notices","path":"$.total_valid_notices","datatype":"long"}'
']'

.alter table taxonomy_eligibility_rate policy streamingingestion enable

.alter table taxonomy_eligibility_rate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table taxonomy_eligibility_rate policy caching hot = ${hot_cache_period}
