.create-merge table InChannelSettlementRate (
    window_start: datetime,
    debtor_service_provider: string,
    successful_sends: long
)

.create-merge table ActivePayerReachability (
    window_start: datetime,
    category: string,
    count: long,
    total_failures: long,
    total_successes: long
)

.create-merge table activation_success_rate (
    activation_day: datetime,
    psp: string,
    successful_activations: long
)

.create-or-alter table InChannelSettlementRate ingestion json mapping 'InChannelSettlementRateMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"debtor_service_provider","path":"$.debtor_service_provider","datatype":"string"},'
'{"column":"successful_sends","path":"$.successful_sends","datatype":"long"}'
']'

.create-or-alter table ActivePayerReachability ingestion json mapping 'ActivePayerReachabilityMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"category","path":"$.category","datatype":"string"},'
'{"column":"count","path":"$.count","datatype":"long"},'
'{"column":"total_failures","path":"$.total_failures","datatype":"long"},'
'{"column":"total_successes","path":"$.total_successes","datatype":"long"}'
']'

.create-or-alter table activation_success_rate ingestion json mapping 'ActivationSuccessRateMapping'
'['
'{"column":"activation_day","path":"$.activation_day","datatype":"datetime"},'
'{"column":"psp","path":"$.psp","datatype":"string"},'
'{"column":"successful_activations","path":"$.successful_activations","datatype":"long"}'
']'

.alter table InChannelSettlementRate policy streamingingestion enable

.alter table ActivePayerReachability policy streamingingestion enable

.alter table activation_success_rate policy streamingingestion enable

.alter table InChannelSettlementRate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table ActivePayerReachability policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table activation_success_rate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table InChannelSettlementRate policy caching hot = ${hot_cache_period}

.alter table ActivePayerReachability policy caching hot = ${hot_cache_period}

.alter table activation_success_rate policy caching hot = ${hot_cache_period}

.create-merge table user_refusal_rate (
    window_start: datetime,
    refusal_type: string,
    debtor_service_provider: string,
    refusals: long,
    total_sent: long,
    refusal_rate_percentage: real
)

.create-or-alter table user_refusal_rate ingestion json mapping 'UserRefusalRateMapping'
'['
'{"column":"window_start","path":"$.window_start","datatype":"datetime"},'
'{"column":"refusal_type","path":"$.refusal_type","datatype":"string"},'
'{"column":"debtor_service_provider","path":"$.debtor_service_provider","datatype":"string"},'
'{"column":"refusals","path":"$.refusals","datatype":"long"},'
'{"column":"total_sent","path":"$.total_sent","datatype":"long"},'
'{"column":"refusal_rate_percentage","path":"$.refusal_rate_percentage","datatype":"real"}'
']'

.alter table user_refusal_rate policy streamingingestion enable

.alter table user_refusal_rate policy retention ```
{
  "SoftDeletePeriod": "${soft_delete_period}",
  "Recoverability": "Enabled"
}
```

.alter table user_refusal_rate policy caching hot = ${hot_cache_period}
